body {
h2 {
  color: yellow;
    font-size: 80px;
    text-align: center;
  text-decoration-color: yellow;
    background-color: #f5ae07;
  text-decoration-line: underline;
  
  
    
  
}
h3{
  color: orange;
  font-size: 50px;
  text-shadow: 2px 2px 2px yellow;
  
}
body{
  
  background-color: #614c13;
  
}
img{
  
  width = 25%;
}
h2:hover {
  font-size: 100px;
}

img:hover{
  
 width: 70%;
}
}
